In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.misc import derivative

In [25]:
df = pd.read_csv("C:\\Users\\UserOfPC\\Downloads\\brunoyam-ds-SC372-2560-main\\brunoyam-ds-SC372-2560-main\\data\\train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Easy
Вычислить вероятность выживания, если пассажиру:

от 0 до 25 лет
от 25 до 50 лет
от 50 лет и старше

In [26]:
#Посчитать количество выживших в каждой возрастной группе и всего пассажиров в группе
Passengers_1 = df[df.Age <= 25]['PassengerId'].count() 
Survived_1 = df[(df.Age <= 25) & (df.Survived == 1)]['PassengerId'].count() 

Passengers_2 = df[(df.Age <= 50) & (df.Age >25)]['PassengerId'].count() 
Survived_2 = df[((df.Age <= 50) & (df.Age >25)) & (df.Survived == 1)]['PassengerId'].count()

Passengers_3 = df[df.Age > 50]['PassengerId'].count() 
Survived_3 = df[(df.Age > 50) & (df.Survived == 1)]['PassengerId'].count()

In [27]:
result_1 = round((Survived_1 / Passengers_1), 2)
result_2 = round((Survived_2 / Passengers_2), 2)
result_3 = round((Survived_3 / Passengers_3), 2)

In [28]:
print("Вероятность выживания, если пассажиру от 0 до 25 лет =", result_1)

Вероятность выживания, если пассажиру от 0 до 25 лет = 0.41

In [29]:
print("Вероятность выживания, если пассажиру от 25 до 50 лет =", result_2)

Вероятность выживания, если пассажиру от 25 до 50 лет = 0.41

In [30]:
print("Вероятность выживания, если пассажиру от 50 лет и старше =", result_3)

Вероятность выживания, если пассажиру от 50 лет и старше = 0.34

Normal
Вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

In [31]:
Survived_fem = len(df[(df.Sex == "female") & (df.Survived == 1)]) / len(df[df['Sex'] == 'female'])
fem_all = len(df[df['Sex'] == "female"]) / len(df['Sex'])
Survived_all = len(df[df.Survived == 1]) / len(df['Sex'])
Survived_male = len(df[(df.Sex == "male") & (df.Survived == 1)]) /  len(df[df['Sex'] == 'male'])

In [32]:
result_4 = round(( Survived_fem * fem_all ) / Survived_all, 2)
print("Вероятность, c которой пассажир женского пола, если известно, что он выжил = ", result_4)

Вероятность, c которой пассажир женского пола, если известно, что он выжил =  0.68

Normal+
Необходимо реализовать градиентный спуск с уменьшением $\epsilon$ для функции двух переменных.

Проверить на функции $f(x, y) = (x-3)^4 + (y+5)^2$. Начать из точки (5, 2).

Проверить свое решение на готовых функциях минимизации.

In [67]:
def f(x, y):
    return (x-3)**4 + (y+5)**2

def grad_f(x, y):
    grad_x = 4*(x**3) - 36*(x**2) + 108*x - 108
    grad_y = 2*y + 10
    return np.array([grad_x, grad_y])

x0 = np.array([5, 2])

x_old = x0

eps = 10e-6
learning_rate = 0.1
max_steps = 500
i = 0

while np.linalg.norm(grad_f(x_old[0], x_old[1])) > eps:
    # обновляем х
    x_new = x_old - learning_rate * grad_f(x_old[0], x_old[1])
    x_old = x_new
    i += 1
    eps -= 0.001
    #проверяем нужно ли выходить из цикла
    if i == max_steps:
        break
print(x_new, f(x_new[0], x_new[1]), i)

[ 2.95031651 -5.        ] 6.093242499744301e-06 500