In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.misc import derivative

In [3]:
df = pd.read_csv("C:\\Users\\UserOfPC\\Downloads\\brunoyam-ds-SC372-2560-main\\brunoyam-ds-SC372-2560-main\\data\\train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Easy
Вычислить вероятность выживания, если пассажиру:

от 0 до 25 лет
от 25 до 50 лет
от 50 лет и старше

In [4]:
#Посчитать количество выживших в каждой возрастной группе и всего пассажиров в группе
Passengers_1 = df[df.Age <= 25]['PassengerId'].count() 
Survived_1 = df[(df.Age <= 25) & (df.Survived == 1)]['PassengerId'].count() 

Passengers_2 = df[(df.Age <= 50) & (df.Age >25)]['PassengerId'].count() 
Survived_2 = df[((df.Age <= 50) & (df.Age >25)) & (df.Survived == 1)]['PassengerId'].count()

Passengers_3 = df[df.Age > 50]['PassengerId'].count() 
Survived_3 = df[(df.Age > 50) & (df.Survived == 1)]['PassengerId'].count()

In [5]:
result_1 = round((Survived_1 / Passengers_1), 2)
result_2 = round((Survived_2 / Passengers_2), 2)
result_3 = round((Survived_3 / Passengers_3), 2)

In [6]:
print("Вероятность выживания, если пассажиру от 0 до 25 лет =", result_1)

Вероятность выживания, если пассажиру от 0 до 25 лет = 0.41

In [7]:
print("Вероятность выживания, если пассажиру от 25 до 50 лет =", result_2)

Вероятность выживания, если пассажиру от 25 до 50 лет = 0.41

In [8]:
print("Вероятность выживания, если пассажиру от 50 лет и старше =", result_3)

Вероятность выживания, если пассажиру от 50 лет и старше = 0.34

Normal
Вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

In [15]:
Survived_fem = len(df[(df.Sex == "female") & (df.Survived == 1)]) / len(df[df['Sex'] == 'female'])
fem_all = len(df[df['Sex'] == "female"]) / len(df['Sex'])
Survived_all = len(df[df.Survived == 1]) / len(df['Sex'])
Survived_male = len(df[(df.Sex == "male") & (df.Survived == 1)]) /  len(df[df['Sex'] == 'male'])

In [16]:
result_4 = round(( Survived_fem * fem_all ) / Survived_all, 2)
print("Вероятность, c которой пассажир женского пола, если известно, что он выжил = ", result_4)

Вероятность, c которой пассажир женского пола, если известно, что он выжил =  0.68