Для задач Easy и Normal использовать данные Титаника

Easy
Оценить с помощью доверительных интервалов:

1) выживаемость всех пассажиров (оценить среднее по isSurvived)
2) выживаемость женщин
3) выживаемость людей с каютами первого класса

Ответить на вопросы:

 - какой вариант оценки доверительных интервалов нужно использовать в данной задаче и почему?
 - какая из ошибок более критична для данной задачи - I или II рода?
 
 Normal
1. Проверить гипотезу о том, что женщины выживают чаще мужчин с уровнем значимости 0.05
2. Проверить гипотезу о том, что дети выживают чаще, чем взрослые

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels. stats.proportion import proportion_confint
from scipy.stats import chi2_contingency

In [3]:
df = pd.read_csv("C:\\Users\\UserOfPC\\Downloads\\brunoyam-ds-SC372-2560-main\\brunoyam-ds-SC372-2560-main\\data\\train.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#выживаемость всех пассажиров, 95% доверительный интервал для биномиального распределения выживаемости всех пассажиров
count_Survived = df[df.Survived == 1]["Survived"].count()
all_pass = len(df["PassengerId"])
proportion_confint(count_Survived, all_pass)

(0.3519060427032577, 0.4157707249735099)

In [5]:
#выживаемость женщин, 95% доверительный интервал для биномиального распределения
count_Survived_fem = df[(df.Survived == 1) & (df.Sex == 'female')]["Survived"].count()
all_Survived_pass = df[(df.Survived == 1)]["Survived"].count()
proportion_confint(count_Survived_fem, all_Survived_pass)

(0.6319009716644249, 0.7306721277507798)

In [6]:
#выживаемость людей с каютами первого класса, 95% доверительный интервал для биномиального распределения
count_Survived_1class = df[(df.Survived == 1) & (df.Pclass == 1)]["Survived"].count()
all_Survived_pass = df[(df.Survived == 1)]["Survived"].count()
proportion_confint(count_Survived_1class, all_Survived_pass)

(0.34579132651169425, 0.4495303109152063)

In [7]:
#выживаемость людей с каютами второго класса, 95% доверительный интервал для биномиального распределения
count_Survived_2class = df[(df.Survived == 1) & (df.Pclass == 2)]["Survived"].count()
proportion_confint(count_Survived_2class, all_Survived_pass)

(0.20822885070216607, 0.30054307912239536)

In [8]:
#выживаемость людей с каютами третьего класса, 95% доверительный интервал для биномиального распределения
count_Survived_3class = df[(df.Survived == 1) & (df.Pclass == 3)]["Survived"].count()
proportion_confint(count_Survived_3class, all_Survived_pass)

(0.29747141494919116, 0.39843501779934687)




Проверить гипотезу о том, что женщины выживают чаще мужчин с уровнем значимости 0.05
Будем использовать критерий Хи-квадрат - позволяет определить, есть ли статистически значимая связь между двумя переменными. Наша нулевая гипотеза, что вероятности выжить у мужчин и женщин равны.

In [10]:
Survived_male = df[(df.Survived == 1) & (df.Sex == 'male')]["Survived"].count()
Survived_female = df[(df.Survived == 1) & (df.Sex == 'female')]["Survived"].count()
Survived_male, Survived_female

(109, 233)

In [11]:
not_Survived_male = df[(df.Survived == 0) & (df.Sex == 'male')]["Survived"].count()
not_Survived_female = df[(df.Survived == 0) & (df.Sex == 'female')]["Survived"].count()
not_Survived_male, not_Survived_female

(468, 81)

In [22]:
data = [[Survived_male, not_Survived_male], [Survived_female, not_Survived_female]]

In [23]:
chi2_contingency(data)

Chi2ContingencyResult(statistic=260.71702016732104, pvalue=1.1973570627755645e-58, dof=1, expected_freq=array([[221.47474747, 355.52525253],
       [120.52525253, 193.47474747]]))

Поскольку значение pvalue меньше 0.05, то мы отвергаем нулевую гипотезу, а это значит что вероятности не равны - женщины выживают чаще мужчин